.container { 
  background:#e2e2e2; 
  margin-top:15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  border-radius:10px;
  border:1px solid #eeeeee;
}
#area-chart, #pie-chart {min-height:300px;width:100%;text-align:center;}
#table-chart {padding-bottom:40px;}
